.events {
    background: url(../../assets/events/events-bg.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.events::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.events .section_title h2 {
    color: #fff;
}

.events .container {
    position: relative;
}

@media (min-width: 1024px) {
    .events {
        background-attachment: fixed;
    }
}

.events .events_carousel {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
}

.events .event_item {
    color: #fff;
}

.events .event_item h3 {
    font-weight: 600;
    font-size: 26px;
    color: #cda45e;
}

.events .event_item  .price {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

.event_item .price span {
    border-bottom: 2px solid #cda45e;
}

.event_item ul {
    list-style: none;
    padding: 0;
}

.event_item ul li {
    padding-bottom: 10px;
}

.event_item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

